<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AppEjemplo S7
    </ion-title>
    <ion-icon slot="end" name="home" color="primary" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Este es el home</h1>
  <ion-button color="success" routerLink="../pag2">
    Ir a página 2
  </ion-button>
  <ion-button expand="block" color="warning" routerLink="../pag3">
    Ir a página 3
  </ion-button>
  <ion-button expand="block" routerLink="../pag4">
    Ir a página 4
  </ion-button>
</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-text slot="end" class="ion-padding">
      <p>Ionic Seccion 7</p>
    </ion-text>
  </ion-toolbar>
</ion-footer> -->

<app-footer></app-footer>
