<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="volver" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>pag3</ion-title>
    <ion-icon slot="end" name="person" class="ion-padding"color="primary"></ion-icon>
  </ion-toolbar>
</ion-header> -->
<app-encabezado titulo="Página 3" icono="person"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Esta es la página 3</h1>
  </ion-text>
</ion-content>

<app-footer></app-footer>